body {
  font-family: sans-serif;
  text-align: center;
  margin: 2rem;

}
.navbar-brand>img{
  margin: 10px;
}

.container-fluid>.navbar-brand{
  font-size:40px;
}

.container-fluid>.links{
  font-size: 25px;
  text-decoration: none;
  color: black;
}

#practicePara {
  max-width: 700px; 
  margin: 0 auto;    
  word-wrap: break-word;
  font-size: large;
}


body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.dark-mode .navbar {
  background-color: #1f1f1f;
}

.dark-mode .bg-light {
  background-color: #2c2c2c !important;
  color: #fff;
}

.dark-mode input,
.dark-mode input::placeholder {
  background-color: #1e1e1e;
  color: #ffffff;
  border: 1px solid #444;
}
